.bodyContainer{
    display: flex;
   
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Share Tech Mono', monospace;
    background-size: 100%;
    background-color: black;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}

.mainCharacterView{

width: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.left{
    color: blue;
}
.right{
    color: red;
}

.nameBox{
    border: 1px solid black;
    width: 25vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-shadow: 0px 0px 20px 10px white;

}
.playerImage{
    border: 1px solidblack;
    width: 30vw;
    height: 40vh;
    background-image: url("/images/space_hero.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
    

    
}
.playerStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
    border-radius: 2%;


}
.enemyImage{
    border: 1px solidblack;
    width: 30vw;
    height: 35vh;
    background-image: url("/images/enemy.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
}
.enemyStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;

}
.modal{
    display: flex;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 30%;
    height: 50vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: darkgray;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -50%);
    margin: 20% auto;
    padding: 20px;
    box-shadow: 0 5x 8px rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.5);
}
#startModal{
    display: block;
    text-align: center;
    align-items: center;
}
#attackModal{
    display: none;
    text-align: center;
}
#victModal{
    display: none;
    text-align: center;
}
#defeatModal{
    display: none;
    text-align: center;
}
#contModal{
    display: none;
    text-align: center;
}
#startBtn{
    background-color: coral;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    float: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 5x 8px rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.4)
}
#startBtn:hover{
    color: black;
    text-decoration: none;
    cursor:crosshair;
}
#attackBtn{
    background-color: coral;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    float: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 5x 8px rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.4)
}
#attackBtn:hover{
    color: black;
    text-decoration: none;
    cursor:crosshair;
}
#restartBtn{
    background-color: coral;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    float: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 5x 8px rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.4)
}
#restartBtn:hover{
    color: black;
    text-decoration: none;
    cursor:crosshair;
}
#contBtn{
    background-color: coral;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    float: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 5x 8px rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.4)
}
#contBtn:hover{
    color: black;
    text-decoration: none;
    cursor:crosshair;
}
#againBtn{
    background-color: coral;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    float: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 5x 8px rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.4)
}
#againBtn:hover{
    color: black;
    text-decoration: none;
    cursor:crosshair;
}
#tryBtn{
    background-color: coral;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    float: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 5x 8px rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.4)
}
#tryBtn:hover{
    color: black;
    text-decoration: none;
    cursor:crosshair;
}
.removemodal{
    display: 'none';
}